/* Config exemple for Recursive:
https://fonts.google.com/specimen/Recursive

<weight>: Use a value from 300 to 1000
   <slant>: Use a value from -15 to 0
   <casual>: Use a value from 0 to 1
   <cursive>: Use a value from 0 to 1
   <monospace>: Use a value from 0 to 1 */

.CodeMirror, #editor {
  font-variation-settings:
    "slnt" 0,
    "CASL" 0,
    "CRSV" 0,
    "MONO" 0;
}

#preview {
  font-variation-settings:
    "slnt" 0,
    "CASL" 0.1,
    "CRSV" 0,
    "MONO" 1;
}